git+https://github.com/openstack/browbeat.git#egg=browbeat
git+https://github.com/openstack/tripleo-quickstart.git#egg=tripleo-quickstart
git+https://github.com/openstack/tripleo-quickstart-extras.git#egg=tripleo-quickstart-extras
git+https://github.com/jmencak/tripleo-quickstart-scalelab.git@compute-fail#egg=tripleo-quickstart-scalelab
